/*  your css code here. If applicable */
*{
	text-align:center;
}
body{
	background-color: #f8f8f8;
}
.book-library{
	background-color: rgb(255, 255, 255);
}
p{
	color:rgb(255, 255, 255);
}
div{
	color:rgb(255, 255, 255);
}
.author{
	include:rgb(119, 119, 119);
	background-color: rgb(119, 119, 119);
}
.price{
	background-color:rgb(46, 204, 113);
	border-radius:10px;
}